.node-album-form .layout-node-form  .layout-region,
.node-album-edit-form .layout-node-form  .layout-region {
  float: none;
  width: 100%;
  padding: 0;

  .media-library-item__attributes {
    max-height: none !important;
  }

  .paragraph-type--a-side-songs {
    .paragraph--view-mode--preview {
      .layout__region--first {
        font-weight: bold;
        font-size: 1.1em;
        flex: 0 1 15% !important;
      }
    }
  }
}

// Authenticated user
body.role_authenticated:not(.role_administrator) {
  // TODO:  <09-07-20, vanja> //
  // hide Album Review tab
  .filter-wrapper {
    display: none;
  }
}

