.node-album-form .layout-node-form  .layout-region,
.node-album-edit-form .layout-node-form  .layout-region {
  float: none;
  width: 100%;
  padding: 0;

  .media-library-item__attributes {
    max-height: none !important;
  }

  .filter-wrapper {
     display: none;
   }
}

// Authenticated user
body.role_authenticated:not(.role_administrator) {
  // TODO:  <09-07-20, vanja> //
  // hide Album Review tab
}

