$baseColor: #777;
$labelColor: #333;
$siteOrange: #bf9946;
$linkColor: darken($siteOrange, 5%);
$linkHover: lighten($linkColor, 10%);

body,
ul.tips, div.description, .form-item .description {
  color: $baseColor !important;
}

a, .link {
  color: $linkColor !important;
}

.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded {
  position: relative;
  background-image: none;
  &:before {
    color: $linkColor;
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.35em;
    width: 0.35em;
    right: 0.7em;
    position: absolute;
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
    vertical-align: top;
  }
}

.adminimal .toolbar .toolbar-menu {
  a {
    &:hover, &:focus {
      background-color: $linkColor;
      color: black !important;
    }
    &.is-active {
      font-weight: bold;
    }
  }
}

label,
legend {
  color: $labelColor;
}

.adminimal .button {
  &:hover, &:focus {
    border-color: $linkColor;
  }
}

.adminimal .button--primary {
  background: $linkColor;
  border-color: $linkColor;
  &:focus, &:hover {
    background-color: $linkHover;
    border-color: $linkHover;
  }
}

.adminimal .action-links .button--primary {
  border: 2px solid $linkColor;
  color: $linkColor;
  &:focus, &:hover {
    background-color: $linkColor;
  }
}

.seven-details__summary {
  color: $linkColor !important;
}

input[type=checkbox]:checked, input[type=checkbox]:disabled:checked, input[type=checkbox].error:checked, input[type=checkbox].error:focus:checked, input[type=radio]:checked, input[type=radio]:disabled:checked, input[type=radio].error:checked, input[type=radio].error:focus:checked {
  background: $linkColor;
}
