@import 'colors';

html {
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body.adminimal {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  font-size: 1rem !important;
}

header {
  padding: 0.45rem 0 !important;
  background-color: #343a40 !important;
  box-shadow: 1px 1px 2px #333;
  .layout-container {
    margin: 0 1rem !important;
  }
}

nav#block-evinyl-admin-main-menu {
  display: flex;
  justify-content: space-between;
  ul {
    margin-left: 0;
    padding-left: 0;
    font-size: 14px;
    li {
      display: inline-block;
      padding: 0;
      &:first-child {
        a {
          position: relative;
          display: block;
          width: 25px;
          height: 25px;
          padding: 0;
          text-indent: -9999px;
          margin-right: 10px;
          &:before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 25px;
            height: 100%;
            content: "";
            background-image: url(../images/nav-logo-white.png);
            background-color: #0000;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center center;
            background-size: 100% auto;
          }
        }
      }
      a {
        color: #fffc !important;
        letter-spacing: .02em;
        margin-right: 7px;
        padding: 0 1rem;
        line-height: 25px;
        font-weight: 600;
      }
    }
  }
  .user-menu {
    align-self: center;
    .toolbar-icon-user {
      height: 20px;
      line-height: 20px;
    }
  }
}

main.page-content {
  h1.page-title {
    color: inherit;
    margin-top: 1rem;
  }
}

body.role_authenticated:not(.role_administrator) {
  padding-top: 0 !important;
  margin-left: 0 !important;
  &.adminimal.toolbar-fixed.toolbar-vertical {
    padding-top: 0 !important;
  }
  #toolbar-bar {
    display: none;
    #admin-toolbar-search-tab {
      display: none;
    }
    .home-toolbar-tab {
      display: block;
    }
    .toolbar-icon-escape-admin {
      text-indent: -9999px !important;
      &:before {
        background-image: url(../images/nav-logo-white.png);
        width: 25px;
      }
    }
    .toolbar-tab:nth-child(3) {
      display: none;
    }
    .toolbar-tab:nth-child(5) {
      float: right;
    }
  }
}

@import 'album-form';

