/*******************************************************************************
 * Module styles
 ******************************************************************************/
.lyrics-loader-status {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
.lyrics-loader-status.loading {
  background-image: url('../assets/images/loader.svg');
}
.lyrics-loader-status.success {
  background-image: url('../../../../../core/misc/icons/73b355/check.svg');
}
.lyrics-loader-status.error {
  background-image: url('../../../../../core/misc/icons/e32700/error.svg');
}
