body.role_authenticated:not(.role_administrator) #toolbar-bar #admin-toolbar-search-tab {
  display: none; }

.toolbar-icon-admin-toolbar-tools-help:before {
  background-image: url(../logo.svg); }

.node-album-form .layout-node-form .layout-region,
.node-album-edit-form .layout-node-form .layout-region {
  float: none;
  width: 100%;
  padding: 0; }
  .node-album-form .layout-node-form .layout-region .media-library-item__attributes,
  .node-album-edit-form .layout-node-form .layout-region .media-library-item__attributes {
    max-height: none !important; }
  .node-album-form .layout-node-form .layout-region .filter-wrapper,
  .node-album-edit-form .layout-node-form .layout-region .filter-wrapper {
    display: none; }
